html, body {
    margin: 0;
    padding: 0;
    height: 100%; /* Set the height to fill the viewport */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.container {
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    max-width: 100%; /* Ensure the container doesn't exceed the viewport width */
    overflow: auto; /* Only show scrollbar when necessary */
}

.timeInput {
    width: 45px; /* Adjust the width as needed */
    margin-left: 5px;
	font-weight: 150;
}

input[type="time"] {
    margin: 10px 0;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ddd;
    font-size: 16px;
}

button {
    padding: 10px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}

p {
    margin-top: 20px;
    font-size: 18px;
}


span {
    font-weight: 600;
}

/* Adjust the table layout */
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #ddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #4CAF50;
    color: white;
}
